*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* home page  */
.main_content{
    margin: 0px auto;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-width: 1440px;
    max-height: 900px;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* background-color: blue; */
}
    /* nav_bar */

.nav_menu{
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    max-width: 1440px;
    z-index: 2;
    transition: all 0.3s ease;
}
    /* logo */

.logo{
    margin-left: 10%;
}

.logo a{
    text-decoration: none;
    color: #000000;
    font-size: 30px;
    letter-spacing: 2px;
    transition: 300ms;
}

.logo a span{
    color: #ff4400;
}

.logo a:hover{
    letter-spacing: 3px;
}

/* nav_list */
.nav_list{
    margin-right: 10%;
}

.nav_list_ul{
    list-style-type: none;
    display: flex;
}

.nav_list_ul li{
    margin-left: 20px;
}

.nav_list_ul li a{
    font-size: 17px;
    text-decoration: none;
    color: #000000;
    font-weight: 100;
}

/* nav_toggle */
.nav_toggle{
    /* margin-left: 15px; */
    display: none;
}

.nav_toggle .nav_tg{
    background-color: #ff4400;
    height: 2px;
    width: 20px;
    margin: 3px 0px;
}
    /* nav_bar media query */
@media screen and (max-width: 600px) {
     .nav_list_ul{
      display: none;
  }
}

@media screen and (max-width: 600px) {
    .nav_toggle{
        display: unset;
    }

  .nav_responsive {
      display: flex;
      flex-direction: column;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      position: fixed;
      width: 90%;
      height: 85vh;
      min-height: 200px;
      border-radius: 20px;
      justify-content: center;
      align-items: center;
      z-index: 9;
      background-color: rgb(63, 63, 63);
      overflow: hidden;
  }

  .nav_list ul li a{
    font-size: 40px;
    margin: 5px, 0px;
    color: #000000;
}

}

/* main Page  */



.home_content{
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    display: flex;
    /* background-color: green; */
}

    /* text side  */
.left_text{
    flex: 1;
    padding-left: 40px;
    position: relative;
}

.text{
    position: absolute;
    top: 200px;
    left: 130px;
    line-height: 50px;
}

.text h3{
    font-size: 25px;
    font-weight: 200;
}

.text h3::after{
    content: "";
    display: inline-block;
    height: 2px;
    width: 130px;
    margin-left: 10px;
    background-color: #000000;
}

.text h1{
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 4px;
}

.text p{
    font-size: 20px;
    letter-spacing: 5px;
}
    /* img side  */
.right_img{  
    flex: 1;
}

.side_img{
    position: relative;
    /* border: 2px solid black; */
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.side_img img{
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 550px;
}


@media screen and (max-width: 600px) {
    .right_img{
        display: none;
    }

    .left_text{
        position: relative;
        padding: 0;
        /* align-items: center; */
    }

    .text{
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
    }

    .main_content{
        min-height: 450px;
        min-width: 220px;
    }

}

/* 2nd */
.nd{

    background-color: red;
}
